.score {
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  line-height: 2;
  text-align: left;
}

.score-number {
  text-align: center;
  font-size: 30px;
}


.new-game {
  font-family: 'Press Start 2P', cursive;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 10px;
  padding: 10px;
  transition: .5s;
  margin-top: 15px;
  width: 33%;
}

.new-game:hover {
  background: white;
  color: black;
}
