.tile {
  height: 20px;
  width: 20px;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}
