.tile {
  height: 40px;
  width: 40px;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.tile:hover {
  cursor: pointer;
}
